name: "Terraform Experiment"

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: us-east-1

jobs:
  plan:
    name: "Terraform Plan"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        run: terraform -chdir=infrastructure init

      - name: Terraform Plan
        run: terraform -chdir=infrastructure plan

  apply:
    name: "Terraform Apply"
    needs: plan             # Ensures Apply only starts after Plan finishes
    runs-on: ubuntu-latest
    environment: production  # This triggers the manual approval gate
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        run: terraform -chdir=infrastructure init

      - name: Terraform Apply
        run: terraform -chdir=infrastructure apply -auto-approve